*
!Directory.Build.props
!src/
src/*
!src/OrderWorker/
!src/OrderWorker/**
src/OrderWorker/appsettings*.json
src/OrderWorker/**/appsettings*.json
src/OrderWorker/.env*
src/OrderWorker/**/.env*
src/OrderWorker/*.pfx
src/OrderWorker/**/*.pfx
src/OrderWorker/*.pem
src/OrderWorker/**/*.pem
src/OrderWorker/*.key
src/OrderWorker/**/*.key
src/OrderWorker/secrets.*
src/OrderWorker/**/secrets.*
src/OrderWorker/bin/
src/OrderWorker/obj/
